$primary-text-color: #0C1E1A;
$primary-accent-color: #1E6655;
$primary-background-color: #EFFAF7;

$secondary-border-color: #B7CEC9;
$secondary-background-color: #E4EFEC;
$secondary-text-color: #FFFFFF;

$tablet-min: 768px;
$desktop-min: 1280px;