@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.photo__drawer {
  padding: 2rem 1rem 1rem 1rem;
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 600;

  @include tablet {
    padding: 2rem 2rem 0rem 2rem;
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
  }

  @include desktop {
    width: 100%; // Default width when drawer is closed

    &.photo__drawer--open {
      width: 67.33%; // Shrinks when the drawer is open
    }
  }
}

.photo {
  position: relative;
  border-radius: 0.75rem;
  border: 2px solid $secondary-border-color;
  margin-bottom: 2rem;
  overflow: hidden;

  @include tablet {
    width: calc(50% - 1rem);
  }

  @include desktop {
    width: calc(33.33% - 1.5rem); // Default (3 per row)

    .photo__drawer--open & {
      width: calc(50% - 1.1rem); // 2 per row when drawer is open
    }
  }

  &__img {
    height: auto;
    width: 100%;
    z-index: 0;
    display: block;
  }
  &__content {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &__photographer {
    font-size: 0.85rem;
    font-weight: 600;
    background-color: $secondary-background-color;
    position: absolute;
    right: 0;
    bottom: 3.6rem;
    padding: 0.65rem 0.75rem;
    border-radius: 0.75rem 0 0 0;
    border-bottom: 0.0313rem solid $secondary-border-color;
  }
  &__tags {
    padding: 0.75rem;
    background-color: $secondary-background-color;
  }
}
