@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.65rem;
  padding: 0rem;
}

.filterTag {
  background-color: $secondary-text-color;
  color: $primary-accent-color;
  border: .125rem solid $primary-accent-color;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-family: "Outfit";
  font-weight: 600;
  font-size: 1rem;

  &--clickable {
    &:hover {
      background-color: $primary-accent-color;
      color: $secondary-text-color;
    }
  }

  &--selected {
    background-color: $primary-accent-color;
    color: $secondary-text-color;
  }
}
