@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}