@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 2rem;

    &__title{
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.5rem;
    }
    &__nav{
        display: flex;
        align-items: center;
        border-radius: 50px;
        gap: 0.5rem;
        border: 3px solid $primary-accent-color;
        color: $primary-accent-color;
        font-size: 0.75rem;
        font-weight: 600;
        padding: 0.25rem 1rem;
        background-color: transparent;
        font-family: "Outfit";
    }
    &__icon{
        width: 1.2rem;
        height: 1.2rem;

    }
    &__drawer {
        display: none;
      
        &--open {
          display: block;
        }
    }
}