@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;





.drawer {
    display: none;
  
    &--open {
      display: block;
    }
  }

.filterTag {
    background-color: lightgreen;

    &--clickable {
        cursor: pointer;
        &:hover {
        background-color: green;
        }
    }

    &--selected {
        background-color: darkgreen;
        color: whitesmoke;
    }
}